<div id="particles-js">
  <div class="header">
      <h1>
        <!-- <span class="site-profile">{{ site.user_image }}</span> -->
        <span class="site-name">{{ site.name }}</span>
        <span class="site-description">{{ site.role }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.username }}"><i class="icon fa fa-linkedin-in" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="https://facebook.com/{{ site.username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://instagram.com/{{ site.username }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/{{ site.username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Resume" target="_blank" href="https://google.com"><i class="icon fa fa-file-pdf" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
